{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold underline">
        Hello world!
    </h1>
    {% for manga in top10 %}
            <h2>{{ manga.name }}</h2>
        <p>{{ manga.id }}</p>
        <button onclick="addToLibrary({{ manga.id }})" >Add</button>
    {% endfor %}

    <script>


        function addToLibrary(id) {
            fetch("/add", {
                method:"POST",
                headers: {
                    'Accept': 'application/json',
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({'mangaId': id}),
            })
        }


    </script>
{% endblock %}
